table td, table th {
	vertical-align: top;
	padding: 5px;
}

table {
	border-collapse: collapse;
}

table th {
	border: 1px solid #cccccc;
	background-color: #eeeeee;
	text-align: left;
}

table td {
	border: 1px solid #cccccc;
}

table.vertical th {
	border: none;
	background: none;
}

table.vertical td {
	border: none;
}
